<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {%  include 'navbar.html' %}

    <h1>Home ! Welcome </h1>



    <form action="/" method="POST" >
{% csrf_token %}
        <input type="text" name="nameinput" id=""><button>send</button>
        <br>
        <input type="checkbox" name="checkinput" id=""><button>send</button>

    </form>

    {% if isActive %}
    <div>
    {% comment %} Accessing Dynamic values  {% endcomment %}

    <h1> Today's Date : {{date}} </h1>
    <h1> Name is : {{name}} </h1>
    {% comment %} <h1> Name is : {{nameinput}} </h1> {% endcomment %}
    <hr>
    <h1> Student Data </h1>
    <h2>Student Name : {{student_data.student_name }}</h2>
    <h2>Student College : {{student_data.student_col }}</h2>
    <h2>Student City : {{student_data.student_city }}</h2>

</div>
{% endif %} 

<hr>

<h2>Programs...</h2>

{%  for p in list_of_programs %}

<h3>{{p}}</h3>
 {% endfor %} 
    

</body>
</html>